/*.navigasi {
   height: 75px;
   display: flex;
   align-items: center;
   justify-content:space-between;
   margin: 10px;
   margin-left: : 10px;

}*/

.body {
   margin: 0;
   padding: 0;
   background-color: white;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   font-family: "Rationale";
 }

.navigasi {
   background-color: white;
   overflow: hidden;
   font-family: "Rationale"
}

.navigasi h1 {
   float: left;
   color: #FF7A00;
   text-align: center;
   padding: 0px 75px;
   text-decoration: none;
   font-size: 35px;
}

.navigasi a {
   float: right;
   color: black;
   text-align: center;
   padding: 35px 20px;
   text-decoration: none;
   font-size: 18px;
}

.navigasi a:hover {
   color: #0b7dda;
}

.navigasi a.active {
   color: #FF7A00;
}

.main {
   text-align: center;
   padding: 150px 0;
   height: 200px;
   background-image: url(12.jpg);
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-size: cover;
}

.main h2 {
   margin: 0;
   padding: 0;
   font-family: "Rationale";
   font-size: 70px;
   font-weight: bold;
   color: white;
}

.main h3 {
   margin: 10px;
   padding: 0;
   font-family: sans-serif;
   font-size: 20px;
   font-weight: normal;
   letter-spacing: 2pt;
   height: 50px;
   color: white;
}

{
  box-sizing: border-box;
}

/* Style the search field */
.main form.example input[type=text] {
  padding: 10px;
  margin-top: 30px;
  font-size: 17px;
  border: 1px solid grey;
  float: center;
  width: 30%;
  background: #f1f1f1;
  border-radius: 30px;  
  font-family: sans-serif;
  text-align: center;
  letter-spacing: 3pt;
}

/* Style the submit button */
.main form.example button {
  float: center;
  width: 5%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  border-radius: 30px;
}

.main form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
.main form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* The dropdown container */
.dropdown {
   float: right;
   color: black;
   text-align: center;
   padding: 35px 20px;
   text-decoration: none;
   font-size: 18px;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: black;
  padding: 0px 0px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}